<%= form_with(model: officer, local: true) do |form| %>
  <% if officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
        <% officer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<div class="mb-6">
			<%= form.label :name %>
    	<%= form.text_field :name %>
		</div>

		<div class="mb-6">
			<%= form.label :birth_date %>
    	<%= form.date_select :birth_date %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :gender %>
    	<%= form.text_field :gender %>
		</div>

		<div class="mb-6">
			<%= form.label :marital_status %>
    	<%= form.text_field :marital_status %>
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :nationality %>
    	<%= form.text_field :nationality %>
		</div>

		<div class="mb-6">
			<%= form.label :mobile_number %>
    	<%= form.text_field :mobile_number %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :address %>
    	<%= form.text_field :address %>
		</div>

		<div class="mb-6">
			<%= form.label :email %>
    	<%= form.text_field :email %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :education %>
    	<%= form.text_field :education %>	
		</div>

		<div class="mb-6">
			<%= form.label :customer_amount %>
    	<%= form.number_field :customer_amount %>		
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :children_amount %>
    	<%= form.number_field :children_amount %>
		</div>

		<div class="mb-6">
				
		</div>
	</div>

  <div class="actions">
    <%= form.submit "Register", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
