<%= form_with(model: officer, local: true) do |form| %>
  <% if officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
        <% officer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>

  <div class="field">
    <%= form.label :marital_status %>
    <%= form.text_field :marital_status %>
  </div>

  <div class="field">
    <%= form.label :nationality %>
    <%= form.text_field :nationality %>
  </div>

  <div class="field">
    <%= form.label :mobile_number %>
    <%= form.text_field :mobile_number %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :education %>
    <%= form.text_field :education %>
  </div>

  <div class="field">
    <%= form.label :customer_amount %>
    <%= form.number_field :customer_amount %>
  </div>

  <div class="field">
    <%= form.label :children_amount %>
    <%= form.number_field :children_amount %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
