<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<div class="mb-4">
    	<%= form.text_field :first_name, class: "form-control" %>
			<%= form.label :first_name %> 
		</div> 
		
		<div class="mb-4"> 		
    	<%= form.text_field :last_name, class: "form-control" %>
    	<%= form.label :last_name %>	
		</div>
		
		<div class="mb-4">			
    	<%= form.text_field :other_name, class: "form-control" %> 
      <%= form.label :other_name %>
		</div>
	</div> <!-- In this case there are 3 that's why we use "mb-4" becasue 4 X 3 = 12 --> Do you understand this?

  <div class="row">
		<div class="mb-6">
      <%= form.date_select :birth_date, class: "form-control" %>
			<%= form.label :birth_date %>    	
		</div>

		<div class="mb-6">			
    	<%= form.text_field :gender , class: "form-control" %>
      <%= form.label :gender %>
		</div>
	</div>

	<div class="row">	
		<div class="mb-6">			
    	<%= form.text_field :marital_status, class: "form-control" %>
      <%= form.label :marital_status %>
		</div>

		<div class="mb-6">			
    	<%= form.text_field :nationality, class: "form-control" %>
      <%= form.label :nationality %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.text_field :beneficiary, class: "form-control" %>
      <%= form.label :beneficiary %>
		</div>

		<div class="mb-6">			
    	<%= form.text_field :mobile_number, class: "form-control" %>
      <%= form.label :mobile_number %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.text_field :house_number, class: "form-control" %>
      <%= form.label :house_number %>
		</div>

		<div class="mb-6">			
    	<%= form.text_field :landmark_location, class: "form-control" %>
      <%= form.label :landmark_location %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.text_field :street_name, class: "form-control" %>
      <%= form.label :street_name %>
		</div>

		<div class="mb-6">			
   		<%= form.text_field :region, class: "form-control" %>
       <%= form.label :region %>
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.text_field :district, class: "form-control" %>
      <%= form.label :district %>
		</div>

		<div class="mb-6">			
    	<%= form.text_field :town, class: "form-control" %>
      <%= form.label :town %>
		</div>
	</div>

  <div class="row">
		<div class="mb-6">			
    	<%= form.text_field :occupation, class: "form-control" %>
      <%= form.label :occupation %>
		</div>

		<div class="mb-6">			
    	<%= form.text_field :id_type, class: "form-control" %>
      <%= form.label :id_type %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.text_field :id_number, class: "form-control" %>
      <%= form.label :id_number %>
		</div>

		<div class="mb-6">			
    	<%= form.text_field :spouse_name, class: "form-control" %>
      <%= form.label :spouse_name %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.number_field :number_of_children, class: "form-control" %>
      <%= form.label :number_of_children %>
		</div>

		<div class="mb-6">			
    	<%= form.text_field :email, class: "form-control" %>
      <%= form.label :email %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.date_select :date_account_opened, class: "form-control" %>
      <%= form.label :date_account_opened %>	
		</div>

		<div class="mb-6">			
    	<%= form.number_field :accounts_opened, class: "form-control" %>
      <%= form.label :accounts_opened %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">			
    	<%= form.text_field :picture, class: "form-control" %>
      <%= form.label :picture %> 
		</div>

		<div class="mb-6">
			
		</div>
	</div>

  <div class="actions">
    <%= form.submit "Register", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
