<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<div class="row">
		<div class="mb-4">
			<%= form.label :first_name %>
    	<%= form.text_field :first_name %>
		</div>

		<div class="mb-4">
			<%= form.label :last_name %>
    	<%= form.text_field :last_name %>	
		</div>

		<div class="mb-4">
			<%= form.label :other_name %>
    	<%= form.text_field :other_name %>
		</div>
	</div>

  <div class="row">
		<div class="mb-6">
			<%= form.label :birth_date %>
    	<%= form.date_select :birth_date %>
		</div>

		<div class="mb-6">
			<%= form.label :gender %>
    	<%= form.text_field :gender %>
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :marital_status %>
    	<%= form.text_field :marital_status %>
		</div>

		<div class="mb-6">
			<%= form.label :nationality %>
    	<%= form.text_field :nationality %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :beneficiary %>
    	<%= form.text_field :beneficiary %>
		</div>

		<div class="mb-6">
			<%= form.label :mobile_number %>
    	<%= form.text_field :mobile_number %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :house_number %>
    	<%= form.text_field :house_number %>
		</div>

		<div class="mb-6">
			<%= form.label :landmark_location %>
    	<%= form.text_field :landmark_location %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :street_name %>
    	<%= form.text_field :street_name %>
		</div>

		<div class="mb-6">
			<%= form.label :region %>
   		<%= form.text_field :region %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :district %>
    	<%= form.text_field :district %>
		</div>

		<div class="mb-6">
			<%= form.label :town %>
    	<%= form.text_field :town %>	
		</div>
	</div>

  <div class="row">
		<div class="mb-6">
			<%= form.label :occupation %>
    	<%= form.text_field :occupation %>
		</div>

		<div class="mb-6">
			<%= form.label :id_type %>
    	<%= form.text_field :id_type %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :id_number %>
    	<%= form.text_field :id_number %>
		</div>

		<div class="mb-6">
			<%= form.label :spouse_name %>
    	<%= form.text_field :spouse_name %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :number_of_children %>
    	<%= form.number_field :number_of_children %>
		</div>

		<div class="mb-6">
			<%= form.label :email %>
    	<%= form.text_field :email %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :date_account_opened %>
    	<%= form.date_select :date_account_opened %>	
		</div>

		<div class="mb-6">
			<%= form.label :accounts_opened %>
    	<%= form.number_field :accounts_opened %>	
		</div>
	</div>

	<div class="row">
		<div class="mb-6">
			<%= form.label :picture %>
    	<%= form.text_field :picture %>
		</div>

		<div class="mb-6">
			
		</div>
	</div>

  <div class="actions">
    <%= form.submit "Register", class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
