<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Other name:</strong>
  <%= @customer.other_name %>
</p>

<p>
  <strong>String:</strong>
  <%= @customer.string %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @customer.birth_date %>
</p>

<p>
  <strong>Age:</strong>
  <%= @customer.age %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @customer.gender %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= @customer.marital_status %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @customer.nationality %>
</p>

<p>
  <strong>Beneficiary:</strong>
  <%= @customer.beneficiary %>
</p>

<p>
  <strong>Mobile number:</strong>
  <%= @customer.mobile_number %>
</p>

<p>
  <strong>House number:</strong>
  <%= @customer.house_number %>
</p>

<p>
  <strong>Landmark location:</strong>
  <%= @customer.landmark_location %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @customer.street_name %>
</p>

<p>
  <strong>Region:</strong>
  <%= @customer.region %>
</p>

<p>
  <strong>District:</strong>
  <%= @customer.district %>
</p>

<p>
  <strong>Town:</strong>
  <%= @customer.town %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @customer.occupation %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @customer.id_type %>
</p>

<p>
  <strong>Id number:</strong>
  <%= @customer.id_number %>
</p>

<p>
  <strong>Spouse name:</strong>
  <%= @customer.spouse_name %>
</p>

<p>
  <strong>Number of children:</strong>
  <%= @customer.number_of_children %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Date account opened:</strong>
  <%= @customer.date_account_opened %>
</p>

<p>
  <strong>Accounts opened:</strong>
  <%= @customer.accounts_opened %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @customer.picture %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
